html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: rgba(44, 62, 80, 1.0);
    color: rgba(255, 255, 255, 0.8);
}

#splash {
    position:absolute;
}

video.cover {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.darken-overlay {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    z-index: -900;
    background-color: rgba(44, 62, 80, 0.55);
    overflow: hidden;
}

.trans-bg {
    background-color: rgba(236, 240, 241, 0.5);
    border-radius: 10px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.8);
}

.hover-scale {
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.hover-scale:hover {
    transform: scale(1.1, 1.1);
}

.tooltip {
    pointer-events: none;
}

.tooltip-bg {
    fill: rgba(0, 0, 0, 0.8);
}

.link {
    fill: none;
}

text {
    pointer-events: none;
    fill: rgba(255, 255, 255, 0.8);
}

.d3-slider {
    pointer-events: none;
}

a {
    pointer-events: all;
}
