html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.8);
}

.trans-bg {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hover-scale {
    transform: scale(1, 1);
    transition: transform 0.5s;
}

.hover-scale:hover {
    transform: scale(1.1, 1.1);
}

.tooltip {
    pointer-events: none;
}

.tooltip-bg {
    fill: rgba(0, 0, 0, 0.8);
}

.link {
    fill: none;
}

text {
    pointer-events: none;
}

.d3-slider {
    pointer-events: none;
}

a {
    pointer-events: all;
}
