.chart {
    background-color: rgba(0, 0, 0, 0.5);
}

.chart .row {
    transition: fill .4s ease;
    fill: grey;
}

.chart .row:hover {
    fill: lightgrey;
}

.chart .bar-left {
    fill: cadetblue;
}

.chart .bar-left.emphasis {
    fill: steelblue;
}

.chart .bar-right {
    fill: indianred;
}

.chart .bar-right.emphasis {
    fill: crimson;
}

.chart .title {
    font: 60px sans-serif;
}

.chart text {
    fill: white;
    pointer-events: none;
}

.chart .category-label {
    font: 40px sans-serif;
    text-anchor: middle;
    transition: fill .4s ease;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    transition: opacity 0.4s;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
